@using reingenia.planificador.webadmin.Resources
@model reingenia.planificador.webadmin.Models.vmLogin
@{
    Layout = "~/Views/Shared/_Layout.Authentication.cshtml";

    string formname = "formLogin";
}
@section css {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/icheck/skins/all.css")" />
}
@section jsPlugins {
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/icheck/icheck.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/icheck/icheck.custom.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/jquery.validate/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/jquery.validate.unobtrusive/jquery.validate.unobtrusive.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/jquery.validate.unobtrusive/jquery.validate.unobtrusive.haserror.min.js")"></script>
}
@section jsCustom {
    <script type="text/javascript" src="@Url.Content("~/Content/js/root/authentication.js")"></script>
}
@section runJS {
    @Html.Raw("jsAuthentication.Funcion.onLoad();")
}
<div class="box-login">
    <div style="text-align: center; padding: 10px 0px 0px 0px;">
        <img src="@Url.Content("~/Content/images/logo.login.png")" alt="@HttpUtility.HtmlDecode(webadmin.sistema_empresa)" />
    </div>
    <h3>@HttpUtility.HtmlDecode(authentication.login_form_title)</h3>
    <p style="margin-bottom: 10px;">@HttpUtility.HtmlDecode(authentication.login_form_information)</p>
    @using (Html.BeginForm("Login", "Authentication", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-login", id = formname, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        <div id="divListMessage" class="alert alert-danger@(Html.ViewData.ModelState.IsValid ? " no-display" : "")" style="padding: 8px 5px 5px 6px; margin-bottom: 10px;">
            <i class="fa fa-times-circle"></i>&nbsp;@HttpUtility.HtmlDecode(authentication.login_form_errors)@Html.ValidationSummary(true, "")
        </div>
        <fieldset>
            <div class="form-group">
                <span class="input-icon">
                    @Html.TextBoxFor(m => m.username, new { id = formname + "_username", @class = "form-control", placeholder = HttpUtility.HtmlDecode(authentication.login_form_placeholderusername) })
                    <i class="fa fa-user"></i>
                </span>
                @Html.ValidationMessageFor(m => m.username, null, new { @class = "help-block" })
            </div>
            <div class="form-group">
                <span class="input-icon">
                    @Html.PasswordFor(m => m.password, new { id = formname + "_password", @class = "form-control password", maxlength = "15", placeholder = HttpUtility.HtmlDecode(authentication.login_form_placeholderpassword) })
                    <i class="fa fa-lock"></i>
                </span>
                @Html.ValidationMessageFor(m => m.password, null, new { @class = "help-block" })
            </div>
            <div class="form-actions">
                <label for="mantenersesion" class="checkbox-inline">
                    @Html.CheckBoxFor(m => m.rememberme, new { id = "frmLoginMantenerSesion", @class = "grey remember" })
                    @HttpUtility.HtmlDecode(authentication.login_form_mantenersesionlabel)
                </label>
                <button type="button" id="btnLogin" class="btn btn-bricky pull-right btnForm" data-form="@formname">
                    @HttpUtility.HtmlDecode(authentication.login_form_botoningresar)&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i>
                </button>
            </div>
        </fieldset>
    }
</div>
